h1 {
  text-align: center;
  font-size: 30px;
  color: #666;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  font-stretch: 20px;
  color: #999;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 5px;
}
#main table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 0.8em;
  box-shadow: 0.6px 0.8px 10px rgba(4, 0, 0, 0.3);
  margin-bottom: 20px;
}
#main table th,
#main table td {
  text-align: center;
  padding: 10px 4px;
  letter-spacing: 1px;
}
#main table th {
  color: #4272d2;
  font-size: 17px;
  font-weight: 500;
}
#main table td {
  color: #333;
}
#main table tr:nth-child(odd) {
  background-color: white;
}
#main table th:first-child,
#main table tr:first-child td:first-child {
  border-top-left-radius: 0.8em;
}
#main table th:last-child,
#main table tr:first-child td:last-child {
  border-top-right-radius: 0.8em;
}
#main table tr:last-child td:first-child {
  border-bottom-left-radius: 0.8em;
}
#main table tr:last-child td:last-child {
  border-bottom-right-radius: 0.8em;
}
#main table.sm tr td:first-child {
  color: #4272d2;
}
#main table.sm tr td:last-child {
  padding-left: 20px;
  text-align: left;
}
.item {
  text-align: left;
  margin: auto;
}
.am-modal-dialog {
  background-color: white;
  color: #333;
  letter-spacing: 1px;
}
.am-modal-dialog label {
  width: 120px;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  top: 2px;
  text-align: left;
}
.am-modal-dialog input {
  width: 200px;
  height: 37.2px;
  border: none;
  outline: 1px solid #e6e6e6;
  padding: 10px;
  color: #666;
}
.am-modal-dialog input:focus {
  outline-offset: 0;
}
.am-modal-dialog .ambtnisugly {
  width: 290px;
  height: 40px;
  border: 1.6px dashed #666;
  border-radius: 16px;
  background-color: white;
  font-size: 18px;
}
.am-modal-dialog #fileup p {
  text-align: center;
  margin-top: -10px;
}
