body {
  background: white;
}
.header {
  height: 50px;
  background-color: #292b2c;
}
.tittle {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.button {
  width: 200px;
  height: 60px;
  border: 1.4px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
.button span {
  position: relative;
  top: 2px;
}
.button:hover {
  background: black;
  color: white;
}
.info-container .button {
  cursor: pointer;
}
.border-tp-l {
  border-top: 2px solid #eee;
}
.border-bt-l {
  border-bottom: 2px solid #eee;
}
.border-tp-s {
  border-top: 1px solid #eee;
}
.border-bt-s {
  border-bottom: 1px solid #eee;
}
.border-tpbt-l {
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
}
.border-tpbt-s {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.searchbtn {
  height: 36px;
  width: 160px;
  padding: 4px 10px;
  color: #464a4c;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 7px;
  font-size: 16px !important;
}
.menu li {
  list-style: none;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.menu li a:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.info-container {
  height: 120px;
}
.info {
  line-height: 30px;
  font-size: 15px;
  margin: 0;
}
.menu li a {
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
.menu li em {
  display: none;
}
.menu li:hover em {
  display: block;
  overflow: hidden;
  border: 10px solid #cccccc;
  border-color: #cccccc #f9f9f9;
  border-width: 0 10px 10px 10px;
  position: absolute;
  left: 45%;
  top: 80%;
}
#usernamelogout span,
#usernamelogout i {
  color: white;
}
.user-name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headimg {
  border-radius: 100%;
  border: 1px solid gray;
  height: 80px;
  width: 80px;
  margin-top: 5px;
}
#headFile {
  font-size: 12px;
  margin: 10px 0 0 0;
  cursor: pointer;
  height: 15px;
}
.logout {
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.edit {
  float: right;
  font-size: 10px;
  color: #999999;
}
.underlist {
  font-style: italic;
  text-decoration: underline;
  font-size: 130%;
}
.content-left,
.content-right {
  padding: 2% 3%;
}
.download-button {
  color: black;
}
