<!--改良信息弹出层 mp is short for modal-process -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-process1">
    <div class="am-modal-dialog" id="mp-dialog1">
        <div class="am-modal-bd">
            <img src="../shared/img/mail.png" alt="mail icon" id="mp-mailicon">
            <p class="mp-title">您可以给他们推送通知：</p>
            <p class="mp-subtitle">选择想要推送的对象之后，点击下一步。</p>
            <table class="mp-radio">
                <tr>
                    <td>
                        <label class="mpr-container">
                          <p class="mpr-label">发送给本科生</p>
                          <p class="mpr-sublabel">-- 按年级、班级、学号推送 | 全部推送</p>
                          <input type="radio" checked="checked" name="mp1-radioinput" value="undergraduate">
                          <span class="mpr-checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="mpr-container">
                          <p class="mpr-label">发送给研究生</p>
                          <p class="mpr-sublabel">-- 按年级、学号推送 | 全部推送</p>
                          <input type="radio" name="mp1-radioinput" value="graduate">
                          <span class="mpr-checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr id="mp1-teacherrow">
                    <td>
                        <label class="mpr-container">
                          <p class="mpr-label">发送给教师</p>
                          <p class="mpr-sublabel">-- 指定教师推送 | 全部推送</p>
                          <input type="radio" name="mp1-radioinput" value="teacher">
                          <span class="mpr-checkmark"></span>
                        </label>
                    </td>
                </tr>
            </table>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp1-next">下一步</button>
            <button class="am-btn am-btn-lg am-btn-default" id="mp1-cancel">取消</button>
        </div>
    </div>
</div>

<!--改良信息弹出层 发送给本科生-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-process2-1">
    <div class="am-modal-dialog" id="mp-dialog2-1">
        <div class="am-modal-bd">
            <p class="mp-title">您正在给<span>本科生</span>推送通知</p>
            <p class="mp-tinytitle">一次只能使用一种方式</p>
            <div class="am-panel-group" id="mp2-1-accordion">
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd" id="mp2-1-option1" data-am-collapse="{parent: '#mp2-1-accordion', target: '#mp2-1-detail1'}">
                        按年级发送给本科生
                    </div>
                    <div id="mp2-1-detail1" data-send-type="1" class="am-panel-collapse am-collapse">
                        <!-- type1 use ajax to generate html here -->
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-1-option2" data-am-collapse="{parent: '#mp2-1-accordion', target: '#mp2-1-detail2'}">
                        按班级发送给本科生
                    </div>
                    <div id="mp2-1-detail2" data-send-type="2" class="am-panel-collapse am-collapse">
                        <!-- type2 ajax here -->
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-1-option3" data-am-collapse="{parent: '#mp2-1-accordion', target: '#mp2-1-detail3'}">
                        按专业发送给本科生
                    </div>
                    <div id="mp2-1-detail3" data-send-type="3" class="am-panel-collapse am-collapse">
                        <!-- type3 ajax here -->
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-1-option4" data-am-collapse="{parent: '#mp2-1-accordion', target: '#mp2-1-detail4'}">
                        按学号发送给本科生
                    </div>
                    <div id="mp2-1-detail4" data-send-type="4" class="am-panel-collapse am-collapse">
                        <label for="stunum">
                            <p class="mpx-label-txt">
                                输入学号 以空格分隔
                                <span class="mpx-username1" style="font-weight: 400; color:#999; text-align: left;margin: 10px; word-break: keep-all;">
                                </span>
                            </p>
                            <input type="text" name="stunum" id="stunum">
                            <div class="mpx-line-box">
                                <div class="mpx-line"></div>
                            </div>
                            <p class="mpx-username2" style="font-weight: 400; color:#999; text-align: left;margin: 10px; word-break: keep-all; width: 500px">
                            </p>
                        </label>
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-1-option5" data-am-collapse="{parent: '#mp2-1-accordion', target: '#mp2-1-detail5'}">
                        发送给全体本科生
                    </div>
                    <div id="mp2-1-detail5" data-send-type="5" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <label class="mpb-container">
                                    <span>全体本科生</span>
                                    <input type="checkbox" id="mp2-1-all-checkbox" value="全体本科生">
                                    <span class="mpb-checkmark"></span>
                                </label>
                            </div>
                    </div>
                </div>
                
            </div>
            
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-1-prev">上一步</button>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-1-next">下一步</button>
            <button class="am-btn am-btn-lg am-btn-default" id="mp2-1-cancel">取消</button>
        </div>
    </div>
</div>

<!--改良信息弹出层 发送给研究生-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-process2-2">
    <div class="am-modal-dialog" id="mp-dialog2-2">
        <div class="am-modal-bd">
            <p class="mp-title">您正在给<span>研究生</span>发送通知</p>
            <p class="mp-tinytitle">一次只能使用一种方式</p>
            <div class="am-panel-group" id="mp2-2-accordion">
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd" id="mp2-2-option1" data-am-collapse="{parent: '#mp2-2-accordion', target: '#mp2-2-detail1'}">
                        按年级发送给研究生
                    </div>
                    <div id="mp2-2-detail1" data-send-type="6" class="am-panel-collapse am-collapse">
                            <!-- ajax here -->
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-2-option4" data-am-collapse="{parent: '#mp2-2-accordion', target: '#mp2-2-detail4'}">
                        按学号发送给研究生
                    </div>
                    <div id="mp2-2-detail4" data-send-type="7" class="am-panel-collapse am-collapse">
                            <label for="stunum2">
                              <p class="mpx-label-txt">输入学号 以空格分隔</p>
                              <input type="text" name="stunum2" id="stunum2">
                              <div class="mpx-line-box">
                                <div class="mpx-line"></div>
                              </div>
                            </label>
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-2-option5" data-am-collapse="{parent: '#mp2-2-accordion', target: '#mp2-2-detail5'}">
                        发送给全体研究生
                    </div>
                    <div id="mp2-2-detail5" data-send-type="8" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <label class="mpb-container">
                                    <span>全体研究生</span>
                                    <input type="checkbox" id="mp2-2-all-checkbox" value="全体研究生">
                                    <span class="mpb-checkmark"></span>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
            
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-2-prev">上一步</button>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-2-next">下一步</button>
            <button class="am-btn am-btn-lg am-btn-default" id="mp2-2-cancel">取消</button>
        </div>
    </div>
</div>

<!--改良信息弹出层 发送给教师-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-process2-3">
    <div class="am-modal-dialog" id="mp-dialog2-3">
        <div class="am-modal-bd">
            <p class="mp-title">您正在给<span>教师</span>发送通知</p>
            <p class="mp-tinytitle">一次只能使用一种方式</p>
            <div class="am-panel-group" id="mp2-3-accordion">
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-3-option4" data-am-collapse="{parent: '#mp2-3-accordion', target: '#mp2-3-detail4'}">
                        指定教师发送
                    </div>
                    <div id="mp2-3-detail4" data-send-type="9" class="am-panel-collapse am-collapse">
                        <!-- ajax here -->
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">    
                    <div class="am-panel-hd" id="mp2-3-option5" data-am-collapse="{parent: '#mp2-3-accordion', target: '#mp2-3-detail5'}">
                        发送给全体教师
                    </div>
                    <div id="mp2-3-detail5" data-send-type="10" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <label class="mpb-container">
                                    <span>全体教师</span>
                                    <input type="checkbox" id="mp2-3-all-checkbox" value="全体教师">
                                    <span class="mpb-checkmark"></span>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
            
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-3-prev">上一步</button>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp2-3-next">下一步</button>
            <button class="am-btn am-btn-lg am-btn-default" id="mp2-3-cancel">取消</button>
        </div>
    </div>
</div>

<!--改良信息弹出层 填写内容和定时-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-process3">
    <div class="am-modal-dialog" id="mp-dialog3">
        <div class="am-modal-bd">
            <p class="mp-title" id="mp3-title">标题</p>
            <p class="mp-tinytitle" id="mp3-tinytitle">小标题</p>
            <div id="mp3-form">
                <label for="mp3-form-title">
                  <p class="mpx-label-txt">通知标题</p>
                  <input type="text" name="mp3-form-title" id="mp3-form-title">
                  <div class="mpx-line-box">
                    <div class="mpx-line"></div>
                  </div>
                </label>
                <label for="mp3-form-body">
                  <p class="mpx-label-txt">通知正文</p>
                  <textarea id="mp3-form-body" rows="1"></textarea>
                  <div class="mpx-line-box">
                    <div class="mpx-line"></div>
                  </div>
                </label>
                <hr>
            </div>
            <div id="mp3-settime">
                <p class="mp-title">
                    <label for="mp3-settime-check" class="mp-title">定时发送</label>
                    <label class="mpb-container">
                        <input type="checkbox" value="whocares" id="mp3-settime-check" onchange='handleSendLater(this);'>
                        <span class="mpb-checkmark"></span>
                    </label>
                </p>
                <div id="mp3-picker">
                    <input type="text" id="mp3-datepicker" placeholder="日期" readonly>
                    <select data-am-selected id="mp3-timepicker">
                        <option value="08:00" selected>08:00</option>
                        <option value="10:00" >10:00</option>
                        <option value="12:00" >12:00</option>
                        <option value="14:00" >14:00</option>
                        <option value="16:00" >16:00</option>
                        <option value="18:00" >18:00</option>
                        <option value="20:00" >20:00</option>
                    </select>
                </div>
            </div>
            <div id="mp3-fileup">
                <p class="mp-title">文件上传</p>
                <div class="am-form-group am-form-file">
                    <button type="button" class="ambtnisugly">
                        <i class="am-icon-cloud-upload"></i> 
                        &nbsp;选择上传文件
                        <span>（ 文档、表格、压缩包 ）</span>
                    </button>
                    <input type="file" name="file" id="mp3-fileinput" accept="application/x-rar-compressed,application/zip,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.zip,.rar" multiple="true">
                </div>
                <p class="mp-tinytitle" id="mp3-fileresult"></p>
            </div>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp3-prev">上一步</button>
            <button class="am-btn am-btn-lg am-btn-secondary" id="mp3-submit">完成</button>
            <button class="am-btn am-btn-lg am-btn-default" id="mp3-cancel">取消</button>
        </div>
    </div>
</div>

<!--handlebars模板 | 发送给本科生-按年级-->
<script type="text/x-handlebars-template" id="ht-mp2-1-detail1">
    <div class="am-panel-bd">
        <!-- modal-process-checkbox -->
        {{#each grade}}
        {{#if @key}}
        <label class="mpb-container">
            <span>{{@key}}</span>
            <input type="checkbox" value="{{@key}}">
            <span class="mpb-checkmark"></span>
        </label>
        {{/if}}
        {{/each}}
    </div>
</script>

<!--handlebars模板 | 发送给本科生-按班级-->
<script type="text/x-handlebars-template" id="ht-mp2-1-detail2">
    <div class="am-panel-bd">
        <!-- modal-process-checkbox -->
        {{#each class}}
        {{#if @key}}
        <label class="mpb-container">
            <span>{{cnvClsIDToName @key}}</span>
            <input type="checkbox" value="{{@key}}">
            <span class="mpb-checkmark"></span>
        </label>
        {{/if}}
        {{/each}}
    </div>
</script>

<!--handlebars模板 | 发送给本科生-按专业-->
<script type="text/x-handlebars-template" id="ht-mp2-1-detail3">
    <div class="am-panel-bd">
        <!-- modal-process-checkbox -->
        {{#each major}}
        {{#if @key}}
        <label class="mpb-container">
            <span>{{@key}}</span>
            <input type="checkbox" value="{{@key}}">
            <span class="mpb-checkmark"></span>
        </label>
        {{/if}}
        {{/each}}
    </div>
</script>

<!--handlebars模板 | 发送给研究生-按年级-->
<script type="text/x-handlebars-template" id="ht-mp2-2-detail1">
    <div class="am-panel-bd">
        <!-- modal-process-checkbox -->
        {{#each graduate_grade}}
        {{#if @key}}
        <label class="mpb-container">
            <span>{{@key}}</span>
            <input type="checkbox" value="{{@key}}">
            <span class="mpb-checkmark"></span>
        </label>
        {{/if}}
        {{/each}}
    </div>
</script>

<!--handlebars模板 | 发送给教师-指定-->
<script type="text/x-handlebars-template" id="ht-mp2-3-detail4">
    <div class="am-panel-bd">
        <!-- modal-process-checkbox -->
        {{#each teacher}}
        {{#if this}}
        <label class="mpb-container">
            <span>{{name}}</span>
            <input type="checkbox" value="{{uid}}">
            <span class="mpb-checkmark"></span>
        </label>
        {{/if}}
        {{/each}}
    </div>
</script>