<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<title>网安信息平台 | @@title</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<link rel="icon" type="image/png" href="../favicon.ico">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="stylesheet" href="../shared/amazeui.min.css?t=1535977200622">
<link rel="stylesheet" href="./css/nav.css?t=1535977200622">
<script src="../shared/jquery.min.js?t=1535977200622"></script>
<script src="../shared/amazeui.min.js?t=1535977200622"></script>
<script src="../shared/handlebars.min.js?t=1535977200622"></script>
<script src="../shared/layer/layer.js?t=1535977200622"></script>
<script src="../shared/common.js?t=1535977200622"></script>
<script src="./js/nav.js?t=1535977200622"></script>