.width{
    width:99% !important;
    margin: 5px 5px 5px 0;
}
.line{
    display: inline-block !important;
    width:47% !important;
    margin: auto;
}
input[readonly] {
     cursor: pointer;
}
.fright {
	float: right;
}


body {
	background-color: white;
	padding: 10px 20px;
}

h1 {
	font-weight: 400;
	text-align: center;
	margin: 0;
}

label {
	font-weight: 500;
	font-size: 18px;
	color: #333;
	margin-top: 6px;
}

.upperinput {
	background-color: white !important;
	&:focus {
		outline: none;
	}
}

.form-datepicker {
	.upperinput;
}

.form-coursestamp {
	.upperinput;
}

.subtitle {
	margin: 2px;
	text-align: center;
	color: #888;
}

#btncontainer {
	text-align: center;
	div {
		margin: 10px 5px;
		display: inline-block;
		font-size: 17px;
	}
}

#courses {
	label {
		font-size: 17px;
		color: #666;
		margin-top: 1px;
	}
	.course {
		border-bottom: 1px solid #eee;
		margin: 15px 0;
		&:last-child {
			border-bottom: none;
		}
		@w: 25px;
		.delete {
			display: inline-block;
			border-radius: 50%;
			background-color: white;
			color: #ff4444;
			height: @w;
			width: @w;
			text-align: center;
			cursor: pointer;
			margin-left: 5px;
		}
	}
}