.width {
  width: 99% !important;
  margin: 5px 5px 5px 0;
}
.line {
  display: inline-block !important;
  width: 47% !important;
  margin: auto;
}
input[readonly] {
  cursor: pointer;
}
.fright {
  float: right;
}
body {
  background-color: white;
  padding: 10px 20px;
}
h1 {
  font-weight: 400;
  text-align: center;
  margin: 0;
}
label {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  margin-top: 6px;
}
.upperinput {
  background-color: white !important;
}
.upperinput:focus {
  outline: none;
}
.form-datepicker {
  background-color: white !important;
}
.form-datepicker:focus {
  outline: none;
}
.form-coursestamp {
  background-color: white !important;
}
.form-coursestamp:focus {
  outline: none;
}
.subtitle {
  margin: 2px;
  text-align: center;
  color: #888;
}
#btncontainer {
  text-align: center;
}
#btncontainer div {
  margin: 10px 5px;
  display: inline-block;
  font-size: 17px;
}
#courses label {
  font-size: 17px;
  color: #666;
  margin-top: 1px;
}
#courses .course {
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}
#courses .course:last-child {
  border-bottom: none;
}
#courses .course .delete {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  color: #ff4444;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
}
