#hisicon {
  width: 110px;
  height: 110px;
  display: block;
  margin: 25px auto;
}
#loadericon {
  width: 80px;
  text-align: center;
  margin: 10px auto;
  display: block;
}
#loadericon i {
  font-size: 30px;
  color: #666;
}
#histable {
  display: none;
}
.or {
  outline: 1px solid red;
}
.ob {
  outline: 1px solid blue;
}
.og {
  outline: 1px solid green;
}
.record {
  width: 92%;
  height: 60px;
  margin: 14px auto;
  padding: 8px;
  box-shadow: 0.8px 0.6px 3px rgba(0, 0, 4, 0.4);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.record div {
  display: inline-block;
}
.record-status {
  width: 65px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.record-duration {
  line-height: 44px;
  font-size: 17px;
  margin-left: 8px;
  color: #333;
}
.record-none {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  color: #666;
  letter-spacing: 1.8px;
}
.record-btngroup {
  margin: 30px 0;
  text-align: center;
}
.record-btngroup button,
.record-btngroup div {
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0.4px 0.8px 3px rgba(0, 0, 4, 0.4);
  display: inline-block;
  margin: 0 4px;
  font-weight: 500;
  font-size: 17px;
  color: #666;
}
.record-btngroup div {
  line-height: 42px;
  position: relative;
  top: 1px;
}
.detail {
  width: 92%;
  min-height: 60px;
  margin: 14px auto;
  padding: 18px;
  box-shadow: 1.6px 1.2px 5px rgba(0, 0, 4, 0.4);
  display: none;
  font-weight: 300;
}
.detail-label {
  font-size: 20px;
  color: #222;
  margin-bottom: 0;
}
.detail-content {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}
.detail-btngroup {
  text-align: center;
}
.detail-btngroup button {
  display: inline-block;
  margin: 0 5px;
  width: 98px;
}
