.tongzhi {
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
}
.tongzhi .container {
  vertical-align: bottom;
  min-height: 100px;
  background-color: white;
  position: relative;
  margin-top: 10px;
}
.tongzhi .container .pre {
  position: absolute;
  top: -6px;
  right: -6px;
  border-radius: 50%;
  border: 1.8px dashed #d7342e;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  color: #d7342e;
  font-size: 18px;
  font-weight: 500;
}
.tongzhi .container p {
  margin: 10px;
}
.tongzhi .container .title {
  margin-top: 0;
  text-align: center;
  font-size: 22px;
  color: #333;
}
.tongzhi .container .channel {
  text-align: center;
  font-size: 18px;
  color: #999;
}
.tongzhi .container .channel .sendee {
  border-bottom: 1.5px dashed #999;
  cursor: pointer;
}
.tongzhi .container .content {
  text-align: justify;
  font-size: 16px;
  color: #333;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.tongzhi .container .date {
  text-align: right;
  font-size: 16px;
  color: #999;
}
.tongzhi .container .files * {
  text-align: center;
}
#mail {
  display: block;
  margin: 30px auto;
}
