@navH: 55px;
@defaultWhite: rgba(255, 255, 255, 0.7);
@hoveredWhite: rgba(255, 255, 255, 0.9);
@navBack: #292b2c;
nav {
	box-shadow: 0 0.8px 4px rgba(0, 0, 0, 0.4);
	background-color: @navBack;
	width: 100%;
	overflow: hidden;
	height: @navH;
	line-height: @navH;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	#nav-slogan {
		text-align: center;
		color: white;
		font-size: 21px;
		cursor: default;
		letter-spacing: 1px;
	}
	li {
		list-style: none;
		text-align: center;
	}
	a {
		font-size: 17px;
		text-align: center;
		color: @defaultWhite;
		transition: all 0.3s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.9);
			cursor: pointer;
		}
	}
	@cornerLH: 18px;
	#nav-corner {
		color: white;
		margin: @navH / 2 - @cornerLH 0;
		p {
			margin: 0;
			font-size: 12px;
			line-height: @cornerLH;
			cursor: default;
			text-align: right;
			width: 100%;
		}
		#nav-logout span {
			cursor: pointer;
		}
	}
	#nav-bars {
		cursor: pointer;
		color: white;
		font-size: 30px;
		text-align: center;
		transition: all 0.2s ease;
	}
	.bars-active {
		color: black !important;
		background-color: white;
	}
}

#nav-dropdown {
	display: none;
	text-align: center;
	padding: 15px 0;
	box-shadow: 0 0.8px 3px rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 1;
	top: 54.5px;
	right: 0;
	background-color: white;
	a {
		font-size: 20px;
		color: #9999ff;
	}
	hr {
		width: 150px;
		margin: 8px auto;
	}
}

#btn {
	position: relative;
	cursor: pointer;
	div {
		position: absolute;
		left: 0;
	}
	&-cover1, &-cover2 {
		top: 7.5px;
		height: 40px;
		color: transparent;
	}
	&-cover1 {
		width: 100%;
		border: 2px solid  @hoveredWhite;
		z-index: 1;
		border-radius: 1px;
	}
	&-cover2 {
		background-color: @navBack;
		z-index: 2;
		border: 2px solid @navBack;
		transition: all 0.3s ease;
		width: 80%;
		margin-left: 10%;
	}
	&-cover3 {
		background-color: @navBack;
		z-index: 2;
		border: 2px solid @navBack;
		transition: all 0.3s ease;
		height: 20px;
		top: 17.5px;
		color: transparent;
		width: 100%;
	}
	&-content {
		width: 100%;
		top: 0;
		z-index: 4;
		color: @hoveredWhite;
		&:hover {
			+ div {
				border-color: transparent;
				background-color: transparent;
			}
			color: white;
		}
	}
}

.none {
	text-align: center;
	font-size: 28px;
	margin: 40px;
	color: #999;
	letter-spacing: 2px;
}

#main {
	padding: 75px 20px;
	@media screen and (min-width: 641px) {
		padding: 80px 30px;
	}
	@media screen and (min-width: 1025px) {
		padding: 80px 40px;
	}
}

body {
	background-color: #fcfcff;
}